body{
    background: #000;

}
.load{
    position: absolute;
    color: blue;
    width: 600px;
    height: 36px;
    top: 50%;
    margin-left: 300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}